:root {
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-body: "Proxima Nova Rg", sans-serif;
  --color-bg: #fafbff;
  --color-bg-blue: #ebf0ff;
  --color-bg-box: #f8f9ff;
  --color-bg-input: #e8eeff;
  --color-shadow: #4676c32c;
  --color-bg-disabled: #00000029;
  --color-dark: #363c52;
  --color-text: #818cb4;
  --color-label: #506698;
  --color-blue: #007af8;
  --color-blue-light: #00b0f4;
  --color-btn-gradient-light: #05bcfd;
  --color-btn-gradient-dark: #0599fb;
  --padding-side: 20px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: var(--fw-normal);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.container {
  background: var(--color-bg);
  background: linear-gradient(0deg, var(--color-bg-blue) 0%, var(--color-bg) 100%);
  height: 100%;
  margin: 0 auto;
  max-width: 430px;
  min-height: 100dvh;
  overflow: hidden;
  width: 100%;
}

.header {
  position: relative;
}
.header-container {
  padding: 0 var(--padding-side);
}
.header-top {
  position: relative;
  overflow: hidden;
  height: 310px;
  width: 100%;
}
.header-top-bg {
  border-radius: 64px;
  height: 390px;
  overflow: hidden;
  position: absolute;
  top: -9.5rem;
  left: 1.5rem;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.header-top-bg::before {
  content: "";
  box-shadow: inset 0px 3px 16px rgba(28, 63, 119, 0.462745098);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header-top-bg img {
  margin-top: 5rem;
  height: 330px;
  object-fit: cover;
  transform: rotate(-45deg);
  width: 142%;
}
@media (min-width: 375px) {
  .header-top-bg {
    top: -10.5rem;
    left: -1.5rem;
  }
}
.header-top .columns {
  bottom: 3rem;
  height: 88px;
  position: absolute;
  width: 207.45px;
  z-index: 1;
}
.header-top .columns .column {
  background: var(--color-bg-box);
  border-radius: 127px;
  box-shadow: 0px 3px 12px var(--color-shadow);
  display: block;
  width: 250px;
  height: 20px;
}
.header-top .columns:first-child, .header-top .columns:last-child {
  left: -6rem;
  transform: rotate(45deg);
}
.header-top .columns:first-child .column:nth-child(2), .header-top .columns:last-child .column:nth-child(2) {
  top: 50%;
  left: -2.2rem;
  position: absolute;
  transform: translateY(-50%);
}
.header-top .columns:first-child .column:last-child, .header-top .columns:last-child .column:last-child {
  left: -4.5rem;
  position: absolute;
  bottom: 0rem;
}
.header-top .columns:last-child {
  bottom: 1.3rem;
  left: unset;
  right: -3.5rem;
  transform: rotate(-45deg);
}
.header-top .columns:last-child .column:nth-child(2) {
  left: 2.2rem;
}
.header-top .columns:last-child .column:last-child {
  left: 4.5rem;
}
.header-logo {
  background-color: var(--color-bg);
  border-radius: 50%;
  box-shadow: 8px 8px 16px rgba(70, 118, 195, 0.1098039216);
  display: grid;
  height: 144px;
  overflow: hidden;
  place-content: center;
  margin: 1.5rem auto;
  width: 144px;
}
.header-logo img {
  height: auto;
  width: 85px;
}
.header-title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.header-title span {
  display: block;
}
.header-title span.highlight {
  background: -webkit-linear-gradient(#05BCFD, #0599FB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 15px rgba(0, 157, 255, 0.3215686275);
}

.loans {
  padding: 0 var(--padding-side);
  padding-bottom: var(--padding-side);
}
.loans-title {
  text-align: center;
  margin-bottom: 2rem;
}
.loans-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.loans-list .loan {
  border-radius: 40px;
  box-shadow: 8px 8px 30px rgba(70, 118, 195, 0.1725490196);
  margin-bottom: 1.5rem;
}
.loans-list .loan-box {
  cursor: pointer;
  padding: 40px var(--padding-side) 24px var(--padding-side);
}
.loans-list .loan-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr;
  gap: 1rem 0;
  padding: 0 var(--padding-side);
}
.loans-list .loan-icon {
  display: grid;
  line-height: 0;
  height: 41px;
  place-content: center;
  text-align: center;
  width: 49px;
}
.loans-list .loan-icon img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.loans-list .loan-name {
  line-height: 24px;
  font-size: 20px;
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans-list .loan-description {
  color: var(--color-text);
  grid-column: span 2;
  line-height: 24px;
  margin: 0;
}
.loans-list .loan-form {
  margin: 1rem 0;
}
.loans-list .loan-form-group {
  background-color: var(--color-bg-input);
  border-radius: 18px;
  box-shadow: inset 0px 0px 10px rgba(70, 118, 195, 0.1725490196);
  height: 40px;
  padding: 8px 16px;
  position: relative;
  width: calc(100% - 32px);
}
.loans-list .loan-form-group:not(:last-child) {
  margin-bottom: var(--padding-side);
}
.loans-list .loan-form-group label {
  color: var(--color-label);
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
}
.loans-list .loan-form-group input {
  appearance: none;
  background: none;
  border: none;
  color: var(--color-dark);
  display: block;
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: var(--fw-bold);
  margin-top: var(--padding-side);
  width: 100%;
}
.loans-list .loan-form-group input:focus, .loans-list .loan-form-group input:valid {
  outline: none;
}
.loans-list .loan-form-group input:focus ~ label, .loans-list .loan-form-group input:valid ~ label {
  font-size: 12px;
  top: 16px;
}
.loans-list .loan-form-result {
  text-align: center;
}
.loans-list .loan-form-result .result-fee {
  font-size: 32px;
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans-list .loan-form-result .result-text {
  color: var(--color-blue-light);
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans-list .loan-form-result .result-disclaimer {
  color: var(--color-text);
  margin: 1.5rem auto;
  width: 85%;
}
.loans-list .loan-form-buttons {
  display: grid;
  grid-template-columns: 1fr;
}
.loans-list .loan-form-buttons .btn:not(:last-child) {
  margin-bottom: 1rem;
}

.btn {
  appearance: none;
  background: none;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  padding: 14px 20px;
}
.btn-primary {
  background: transparent linear-gradient(180deg, #05bcfd 0%, #0599fb 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 16px rgba(0, 122, 248, 0.1607843137);
  color: white;
  font-weight: var(--fw-bold);
}
.btn-light {
  background-color: white;
  box-shadow: 0px 16px 16px rgba(70, 118, 195, 0.1725490196);
  color: var(--color-blue);
}