:root {
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-body: "Proxima Nova Rg", sans-serif;
  --color-bg: #fafbff;
  --color-bg-modal: #f6f8ff;
  --color-bg-blue: #ebf0ff;
  --color-bg-box: #f8f9ff;
  --color-bg-input: #e8eeff;
  --color-shadow: #4676c32c;
  --color-disabled: #dfe3ed;
  --color-bg-disabled: #00000029;
  --color-dark: #363c52;
  --color-text: #818cb4;
  --color-label: #506698;
  --color-blue: #007af8;
  --color-blue-light: #00b0f4;
  --color-btn-gradient-light: #05bcfd;
  --color-btn-gradient-dark: #0599fb;
  --padding-side: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: var(--fw-normal);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.container {
  background: var(--color-bg);
  background: linear-gradient(0deg, var(--color-bg-blue) 50%, var(--color-bg) 100%);
  height: 100%;
  margin: 0 auto;
  max-width: 430px;
  min-height: 100dvh;
  overflow: hidden;
  width: 100%;
}

.header {
  position: relative;
}
.header-container {
  padding: 0 var(--padding-side);
}
.header-top {
  animation: header 1.5s linear 1s forwards;
  height: 310px;
  position: relative;
  overflow: hidden;
  top: -500px;
  width: 100%;
}
.header-top-bg {
  border-radius: 64px;
  height: 390px;
  overflow: hidden;
  position: absolute;
  top: -9.5rem;
  left: 1.5rem;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.header-top-bg::before {
  content: "";
  box-shadow: inset 0px 3px 16px rgba(28, 63, 119, 0.462745098);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header-top-bg img {
  margin-top: 5rem;
  height: 330px;
  object-fit: cover;
  transform: rotate(-45deg);
  width: 142%;
}
@media (min-width: 375px) {
  .header-top-bg {
    top: -10.5rem;
    left: -1.5rem;
  }
}
.header-top .columns {
  bottom: 3rem;
  height: 88px;
  position: absolute;
  width: 207.45px;
  z-index: 1;
}
.header-top .columns .column {
  background: var(--color-bg-box);
  border-radius: 127px;
  box-shadow: 0px 3px 12px var(--color-shadow);
  display: block;
  width: 250px;
  height: 20px;
}
.header-top .columns.left {
  left: -6rem;
  transform: rotate(45deg);
}
.header-top .columns.left .column {
  position: relative;
}
.header-top .columns.left .column:not(:last-child) {
  margin-bottom: 1rem;
}
.header-top .columns.left .column.col-1 {
  left: -13rem;
  animation: leftCol1st 0.5s ease-out 2.9s forwards;
}
.header-top .columns.left .column.col-2 {
  left: -11rem;
  animation: leftCol2nd 0.5s ease-out 2.7s forwards;
}
.header-top .columns.left .column.col-3 {
  left: -9rem;
  animation: leftCol3rd 0.5s ease-out 2.5s forwards;
}
.header-top .columns.right {
  bottom: 1.3rem;
  left: unset;
  right: -3.5rem;
  transform: rotate(-45deg);
}
.header-top .columns.right .column {
  position: relative;
}
.header-top .columns.right .column:not(:last-child) {
  margin-bottom: 1rem;
}
.header-top .columns.right .column.col-1 {
  left: 14rem;
  animation: rightCol1st 0.5s ease-out 2.9s forwards;
}
.header-top .columns.right .column.col-2 {
  left: 12rem;
  animation: rightCol2nd 0.5s ease-out 2.7s forwards;
}
.header-top .columns.right .column.col-3 {
  left: 9rem;
  animation: rightCol3rd 0.5s ease-out 2.5s forwards;
}
.header-logo {
  background-color: var(--color-bg);
  border-radius: 50%;
  box-shadow: 8px 8px 16px rgba(70, 118, 195, 0.1098039216);
  display: grid;
  height: 144px;
  overflow: hidden;
  place-content: center;
  position: relative;
  margin: 1.5rem auto;
  width: 144px;
  transform: scale(2);
  top: -9rem;
  opacity: 0;
  animation: logo 1s ease-in 0s forwards, logoDown 0.5s linear 2s forwards;
}
.header-logo img {
  height: auto;
  width: 85px;
}
.header-title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  position: relative;
  top: -9rem;
  opacity: 0;
  animation: fadeIn 1s ease-in 1s forwards, logoDown 0.5s linear 2s forwards;
}
.header-title span {
  display: block;
}
.header-title span.highlight {
  background: -webkit-linear-gradient(#05BCFD, #0599FB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 15px rgba(0, 157, 255, 0.3215686275);
}

.btn {
  appearance: none;
  background: none;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  padding: 14px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn:disabled {
  background: var(--color-disabled);
  pointer-events: none;
  box-shadow: none;
}
.btn-primary {
  background: transparent linear-gradient(180deg, #05bcfd 0%, #0599fb 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 16px rgba(0, 122, 248, 0.1607843137);
  color: white;
  font-weight: var(--fw-bold);
}
.btn-light {
  background-color: white;
  box-shadow: 0px 16px 16px rgba(70, 118, 195, 0.1725490196);
  color: var(--color-blue);
}

.loans {
  animation: fadeIn 1s ease-in 4s forwards;
  opacity: 0;
  padding: 0 var(--padding-side);
  padding-bottom: var(--padding-side);
}
.loans-title {
  text-align: center;
  margin-bottom: 2rem;
}
.loans-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.loans .loan {
  background-color: var(--color-bg-box);
  border-radius: 40px;
  box-shadow: 8px 8px 30px rgba(70, 118, 195, 0.1725490196);
  margin-bottom: 1.5rem;
  opacity: 1;
  max-height: 200px;
  transition: all 0.2s ease-in-out;
}
.loans .loan.hidden {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  animation: hiddenLoan 1s ease-in-out forwards;
}
.loans .loan.opened {
  max-height: fit-content;
}
.loans .loan-box {
  cursor: pointer;
  padding: 40px var(--padding-side) 24px var(--padding-side);
}
.loans .loan-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr;
  gap: 1rem 0;
  padding: 0 var(--padding-side);
}
.loans .loan-icon {
  display: grid;
  line-height: 0;
  height: 41px;
  place-content: center;
  text-align: center;
  width: 49px;
}
.loans .loan-icon img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.loans .loan-name {
  line-height: 24px;
  font-size: 20px;
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans .loan-description {
  color: var(--color-text);
  grid-column: span 2;
  line-height: 24px;
  margin: 0;
}
.loans .loan-form {
  overflow: hidden;
}
.loans .loan-form.calculator, .loans .loan-form.information {
  opacity: 0;
  max-height: 0;
}
.loans .loan-form.calculator.opened, .loans .loan-form.information.opened {
  margin-top: 1.5rem;
  animation: formOpened 1s ease-in-out 0.5s forwards;
}
.loans .loan-form.information {
  padding-top: 0.1rem;
}
.loans .loan-form-group {
  background-color: var(--color-bg-input);
  border-radius: 18px;
  box-shadow: inset 0px 0px 10px rgba(70, 118, 195, 0.1725490196);
  height: 40px;
  padding: 8px 16px;
  position: relative;
  width: calc(100% - 32px);
}
.loans .loan-form-group:not(:last-child) {
  margin-bottom: var(--padding-side);
}
.loans .loan-form-group label {
  color: var(--color-label);
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
}
.loans .loan-form-group input {
  appearance: none;
  background: none;
  border: none;
  color: var(--color-dark);
  display: block;
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: var(--fw-bold);
  margin-top: var(--padding-side);
  width: 100%;
}
.loans .loan-form-group input:focus, .loans .loan-form-group input:valid {
  outline: none;
}
.loans .loan-form-group input:focus ~ label, .loans .loan-form-group input:valid ~ label {
  font-size: 12px;
  top: 16px;
}
.loans .loan-form-group input[type=number] {
  -moz-appearance: textfield;
}
.loans .loan-form-group input[type=number]::-webkit-outer-spin-button, .loans .loan-form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loans .loan-form-group.has-icon {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.loans .loan-form-group.has-icon i {
  color: var(--color-text);
  font-size: 24px;
}
.loans .loan-form-range {
  border-radius: 8px;
  margin: -1rem 0 0.5rem 0;
  padding: 4px;
  position: relative;
}
.loans .loan-form-range::before {
  content: "";
  display: block;
  background: #e8eeff;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px rgba(70, 118, 195, 0.1725490196);
  height: 16px;
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  transform: translateY(-48%);
  z-index: 0;
}
.loans .loan-form-range input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.loans .loan-form-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 3px 8px rgba(70, 118, 195, 0.1725490196);
  transition: 0.3s;
  position: relative;
  background-color: var(--color-blue-light);
  width: 48px;
  border-image: linear-gradient(90deg, var(--color-blue-light) 50%, transparent 0) 0 1/calc(50% - 4px) 100vw/0 100vw;
}
.loans .loan-form-range input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 3px 8px rgba(70, 118, 195, 0.1725490196);
  transition: 0.3s;
  position: relative;
  background: none;
  width: 48px;
  border-image: linear-gradient(90deg, var(--color-blue-light) 50%, transparent 0) 0 1/calc(50% - 4px) 100vw/0 100vw;
}
.loans .loan-form-range input[type=range].icon-money::-webkit-slider-thumb {
  background: url(../images/icon-range-amount.png) no-repeat;
}
.loans .loan-form-range input[type=range].icon-money::-moz-range-thumb {
  background: url(../images/icon-range-amount.png) no-repeat;
}
.loans .loan-form-range input[type=range].icon-clock::-webkit-slider-thumb {
  background: url(../images/icon-range-clock.png) no-repeat;
}
.loans .loan-form-range input[type=range].icon-clock::-moz-range-thumb {
  background: url(../images/icon-range-clock.png) no-repeat;
}
.loans .loan-form-checkbox {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 2rem 0 1.5rem 0;
}
.loans .loan-form-checkbox input[type=checkbox],
.loans .loan-form-checkbox input[type=radio] {
  appearance: none;
  border: 2px solid var(--color-blue-light);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 223, 255, 0.2509803922);
  height: 24px;
  width: 24px;
}
.loans .loan-form-checkbox input[type=checkbox]:checked,
.loans .loan-form-checkbox input[type=radio]:checked {
  background-color: var(--color-blue-light);
  color: white;
  text-align: center;
  line-height: 20px;
}
.loans .loan-form-checkbox input[type=checkbox]:checked::before,
.loans .loan-form-checkbox input[type=radio]:checked::before {
  content: "\f00c";
  display: block;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.loans .loan-form-checkbox a {
  color: var(--color-blue-light);
}
.loans .loan-form-result {
  text-align: center;
}
.loans .loan-form-result .result-fee {
  font-size: 32px;
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans .loan-form-result .result-text {
  color: var(--color-blue-light);
  font-weight: var(--fw-bold);
  margin: 0;
}
.loans .loan-form-result .result-disclaimer {
  color: var(--color-text);
  margin: 1.5rem auto;
  width: 85%;
}
.loans .loan-form-buttons {
  display: grid;
  grid-template-columns: 1fr;
}
.loans .loan-form-buttons .btn:not(:last-child) {
  margin-bottom: 1rem;
}

.verification {
  --padding-steps: 12px;
  --padding-btn: 20px;
  --padding-form: 28px;
  --height-btn: 88px;
  --question-number-size: 32px;
  background-color: var(--color-bg-modal);
  display: grid;
  opacity: 0;
  place-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.verification.opened {
  opacity: 1;
  z-index: 9;
}
.verification-box {
  position: relative;
  height: 100%;
  max-width: 430px;
}
.verification-steps {
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 36px 44px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: var(--padding-steps);
  position: sticky;
  top: 0;
  width: calc(100% - var(--padding-steps) * 2);
  z-index: 1;
}
.verification-steps .step-back {
  appearance: none;
  border: none;
  background-color: transparent;
  display: block;
  height: fit-content;
  margin-left: 1rem;
  width: fit-content;
}
.verification-steps .step-back i {
  color: var(--color-blue);
  font-size: 20px;
}
.verification-steps .step-title {
  font-size: 14px;
  font-weight: var(--fw-bold);
  text-align: center;
  margin: 0 0 0.5em 0;
}
.verification-steps .step-bar {
  background-color: var(--color-bg-blue);
  border-radius: 8px;
  padding: 4px;
  position: relative;
}
.verification-steps .step-bar-progress {
  background-color: var(--color-blue-light);
  border-radius: 8px;
  display: block;
  height: 8px;
}
.verification-steps .step-bar-icon {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 176, 244, 0.1607843137);
  height: 48px;
  line-height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
}
.verification-steps .step-count {
  color: var(--color-blue-light);
  font-size: 12px;
  text-align: center;
  margin: 0.5em 0 0 0;
}
.verification-form {
  padding: var(--height-btn) var(--padding-form);
  position: relative;
  overflow-y: auto;
  height: 78dvh;
  z-index: 0;
}
.verification-form .form-icon {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.verification-form .form-title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  text-align: center;
}
.verification-form .form-subhead {
  color: var(--color-text);
  text-align: center;
}
.verification-form .form-questions {
  display: block;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}
.verification-form .form-questions:last-child {
  margin-bottom: 2rem;
}
.verification-form .form-questions .question:not(:last-child) {
  margin-bottom: 3rem;
}
.verification-form .form-questions .question-content {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 0 1rem;
}
.verification-form .form-questions .question-number {
  background: linear-gradient(0deg, var(--color-btn-gradient-dark) 0%, var(--color-btn-gradient-light) 100%);
  border-radius: 50%;
  box-shadow: 3px 3px 12px rgba(0, 196, 255, 0.7254901961);
  color: white;
  height: var(--question-number-size);
  font-style: normal;
  line-height: var(--question-number-size);
  text-align: center;
  width: var(--question-number-size);
}
.verification-form .form-questions .question-text {
  font-weight: var(--fw-bold);
  margin: 0;
}
.verification-form .form-questions .question-options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.verification-form .form-questions .question-options .option {
  align-items: center;
  color: var(--color-text);
  margin: 1.5rem 0 0 0;
}
.verification-button {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(70, 118, 195, 0.1725490196);
  border-radius: 44px 44px 0px 0px;
  bottom: 0;
  padding: var(--padding-btn);
  position: sticky;
  top: calc(100dvh - var(--height-btn));
  width: calc(100% - var(--padding-btn) * 2);
  z-index: 1;
}
.verification-button .btn {
  box-shadow: 0px 0px 16px rgba(70, 118, 195, 0.1725490196);
  width: 100%;
}

@keyframes header {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes logoDown {
  0% {
    top: -9rem;
  }
  100% {
    top: 0;
  }
}
@keyframes leftCol1st {
  0% {
    left: -13rem;
  }
  100% {
    left: 0;
  }
}
@keyframes leftCol2nd {
  0% {
    left: -11rem;
  }
  100% {
    left: -2.2rem;
  }
}
@keyframes leftCol3rd {
  0% {
    left: -9rem;
  }
  100% {
    left: -4.5rem;
  }
}
@keyframes rightCol1st {
  0% {
    left: 14rem;
  }
  100% {
    left: 0;
  }
}
@keyframes rightCol2nd {
  0% {
    left: 12rem;
  }
  100% {
    left: 2.2rem;
  }
}
@keyframes rightCol3rd {
  0% {
    left: 9rem;
  }
  100% {
    left: 4.5rem;
  }
}
@keyframes formOpened {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 1000px;
    overflow: unset;
  }
}
@keyframes hiddenLoan {
  0% {
    opacity: 1;
    max-height: 1000px;
    margin-bottom: 1.5rem;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 1.5rem;
  }
}