:root {
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-body: "Proxima Nova Rg", sans-serif;

  --color-bg: #fafbff;
  --color-bg-modal: #f6f8ff;
  --color-bg-blue: #ebf0ff;
  --color-bg-box: #f8f9ff;
  --color-bg-input: #e8eeff;
  --color-shadow: #4676c32c;
  --color-disabled: #dfe3ed;
  --color-bg-disabled: #00000029;
  --color-dark: #363c52;
  --color-text: #818cb4;
  --color-label: #506698;
  --color-blue: #007af8;
  --color-blue-light: #00b0f4;
  --color-btn-gradient-light: #05bcfd;
  --color-btn-gradient-dark: #0599fb;

  --padding-side: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: var(--fw-normal);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.container {
  background: var(--color-bg);
  background: linear-gradient(
    0deg,
    var(--color-bg-blue) 50%,
    var(--color-bg) 100%
  );
  height: 100%;
  margin: 0 auto;
  max-width: 430px;
  min-height: 100dvh;
  overflow: hidden;
  width: 100%;
}

@import "./components/style";
@import "./includes/animations";
