.header {
  position: relative;

  &-container {
    padding: 0 var(--padding-side);
  }

  &-top {
    animation: header 1.5s linear 1s forwards;
    height: 310px;
    position: relative;
    overflow: hidden;
    top: -500px;
    width: 100%;

    &-bg {
      border-radius: 64px;
      height: 390px;
      overflow: hidden;
      position: absolute;
      top: -9.5rem;
      left: 1.5rem;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);

      &::before {
        content: "";
        box-shadow: inset 0px 3px 16px #1c3f7776;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      img {
        margin-top: 5rem;
        height: 330px;
        object-fit: cover;
        transform: rotate(-45deg);
        width: 142%;
      }

      @media (min-width: 375px) {
        top: -10.5rem;
        left: -1.5rem;
      }
    }

    .columns {
      bottom: 3rem;
      height: 88px;
      position: absolute;
      width: 207.45px;
      z-index: 1;

      .column {
        background: var(--color-bg-box);
        border-radius: 127px;
        box-shadow: 0px 3px 12px var(--color-shadow);
        display: block;
        width: 250px;
        height: 20px;
      }

      &.left {
        left: -6rem;
        transform: rotate(45deg);

        .column {
          position: relative;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          &.col-1 {
            left: -13rem;
            animation: leftCol1st 0.5s ease-out 2.9s forwards;
          }

          &.col-2 {
            left: -11rem;
            animation: leftCol2nd 0.5s ease-out 2.7s forwards;
          }

          &.col-3 {
            left: -9rem;
            animation: leftCol3rd 0.5s ease-out 2.5s forwards;
          }
        }
      }

      &.right {
        bottom: 1.3rem;
        left: unset;
        right: -3.5rem;
        transform: rotate(-45deg);

        .column {
          position: relative;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          &.col-1 {
            left: 14rem;
            animation: rightCol1st 0.5s ease-out 2.9s forwards;
          }

          &.col-2 {
            left: 12rem;
            animation: rightCol2nd 0.5s ease-out 2.7s forwards;
          }

          &.col-3 {
            left: 9rem;
            animation: rightCol3rd 0.5s ease-out 2.5s forwards;
          }
        }
      }
    }
  }

  &-logo {
    background-color: var(--color-bg);
    border-radius: 50%;
    box-shadow: 8px 8px 16px #4676c31c;
    display: grid;
    height: 144px;
    overflow: hidden;
    place-content: center;
    position: relative;
    margin: 1.5rem auto;
    width: 144px;

    // Animation
    transform: scale(2);
    top: -9rem;
    opacity: 0;
    animation: logo 1s ease-in 0s forwards, logoDown 0.5s linear 2s forwards;

    img {
      height: auto;
      width: 85px;
    }
  }

  &-title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    position: relative;
    top: -9rem;
    opacity: 0;
    animation: fadeIn 1s ease-in 1s forwards, logoDown 0.5s linear 2s forwards;

    span {
      display: block;

      &.highlight {
        background: -webkit-linear-gradient(#05BCFD, #0599FB);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 15px #009dff52;
      }
    }
  }
}
