.loans {
  padding: 0 var(--padding-side);
  padding-bottom: var(--padding-side);

  &-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .loan {
      border-radius: 40px;
      box-shadow: 8px 8px 30px #4676c32c;
      margin-bottom: 1.5rem;
      
      &-box {
        cursor: pointer;
        padding: 40px 40px 24px 40px;
      }

      &-content {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr;
        gap: 1rem 0;
      }

      &-icon {
        display: grid;
        line-height: 0;
        height: 41px;
        place-content: center;
        text-align: center;
        width: 49px;

        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }
      }
      
      &-name {
        line-height: 24px;
        font-size: 20px;
        font-weight: var(--fw-bold);
        margin: 0;
      }

      &-description {
        color: var(--color-text);
        grid-column: span 2;
        line-height: 24px;
        margin: 0;
      }
    }
  }
}
